{% extends "base.html" %} {% block title %}Universery{% endblock %} {% block content %}


<!DOCTYPE html>
<html>
<body>
<h3></h3>
<h2 align = "center">UNIVERSARY</h2>
<center><img src="../static/image/p2.png" alt="мы сможем" width="460" height="345">
</center>

<h4></h4>
<h4 align = "center">Наша организация "Universary" предоставляет возможность всем желающим подать заявку на обучение в любое из интересующих Вас учебное заведение.</h4>
<h4 align = "center">Найдите нужную учебную организацию прямо сейчас!</h4>
<h4 align = "center">Удачи!</h4>


</body>
</html>


    


{% endblock %}
